$def with (sideuser)

<div id="page">
	<div id="entry">
		<div id="entryheader">
			<div id="posttitle">2011 - MORT Year End Barbeque/MORT Patriots Game</div>
			<div id="date">Mr. Bodmer<br />May 9</div>
		</div>
		
		Good Morning Team,
		<br /><br />
		1)  The MORT Year End Barbeque date and location has been set.  This year's MORT BBQ will take place on Friday, June 10th from 6-9 PM at the Henry's Home.  The rain date is set for Sunday, June 12th from 1-4 PM.  The address of the Henry's Home is 8 Hemlock Drive, Budd Lake, NJ 07828.  In the coming week, I will email the team a list of items needed for this annual year-end event.  Looking forward to seeing everyone there as we celebrate the 2011 MORT Team!
		<br /><br />
		2)  MORT is sponsoring the May 24th FIRST Robotics Night with the Somerset Patriots in Bridgewater, NJ.  Tickets are $5 and can be paid with cash or check made out to MOREA.  As of this morning, we only have 8 tickets sold and we are hoping for a group of 75 or more!  This event not only allows us to share what we do with our local communities, it's also a fun night out with our MORT "Family"!  If you are planning on attending, please either email me or see me by Friday, May 20th.  I will be picking up our team's block of seats on that Saturday, May 21st.  Tickets will be ready for pick-up on that Monday, May 23rd.
		<br /><br />
		Stay well,
		<br />
		Mr. B.
	</div>
	<div id="entry">
		<div id="entryheader">
			<div id="posttitle">MORT-2011-2012 Student Leadership Positions</div>
			<div id="date">Mr. Bodmer<br />May 6</div>
		</div>
		Good Morning All,
		<br /><br />
		Just a reminder regarding the 2011-2012 Student Leader Application process.  Any current student member is welcomed to apply for a leadership position.  Attached is this year's application, please print it out, complete and return to Mr. Bodmer no later than Friday, May 13th!
	</div>
	<div id="entry">
		<div id="entryheader">
			<div id="posttitle">MORT - Update</div>
			<div id="date">Mr. Bodmer<br />May 6</div>
		</div>
		Good Morning Team,
		<br /><br />
		Just a few team reminders:
		<br /><br />
		<br /><br />
		1) Please see Patrick and Will's email below regarding this summer's PyGames!
		<br /><br />
		Will is trying to form a group for this year's Summer pyGames and it would be awesome if you could forward this to the entire team.
		<br /><br />
		So Summer PyGames is a programming/game development competition which uses the python programming language run on an XO laptop. Will is looking for people who are interesting in learning about programming as well as people who would like to help out with graphics/animation and sound. Even if you don't have any experience in any of these fields but are interested in learning, you should think about joining.
		<br /><br />
		If you'd like to join or have any questions, contact Will at grid.c.bug@gmail.com.
		<br /><br />
		2)  I have been trying to find out who would be interested in doing a MORT Relay for Life team. So far I have: Me, Jess Dennis (as our mentor) Matt Dunster, Jesse Van Glahn, Nick DiRienzo, Gina Massoni (a maybe) and I need a group of 8 people to have a team. If you could send out an email telling people to email me at cschilling16@gmail.com if they are interested in joining the relay team. Thank you.
		<br /><br />
		3) Just a reminder that MORT is sponsoring the upcoming FIRST Robotics Night on Tuesday, May 24th at 6:00 PM with the Somerset Patriots.  Tickets cost $5 and can be ordered through me.  You can pay with cash or checks made out to MOREA.  You can send me an email with the number of tickets needed and get me the payment by May 13th.  It's a fun night out at the ball park and an opportunity to share what we do with our community.  Go MORT!
		<br /><br />
		4)  Information regarding this year's MORT Year-End BBQ will be coming out soon....stay tuned!
		<br /><br />
		Thanks,
		<br />
		Mr. B.
	</div>
</div>
<div id="sidebar">
	<div id="sidemodule">
		$:sideuser
	</div>
</div>