$def with (sideuser)

<div id="page">
	<div id="addissueform">
		<form>
			issue:<br />
			<textarea cols="75" rows="7"></textarea><br />
			
			priority:
			<select>
				<option>low</option>
				<option>medium</option>
				<option>high</option>
			</select>
			subteam:
			<select>
				<option>end effector</option>
				<option>drive train</option>
				<option>programming</option>
				<option>cad</option>
				<option>other</option>
			</select>
			
			<br /><br />
			
			<input type="submit" value="submit issue" />
			<input type="button" id="canceladdissue" value="cancel" />
		</form>
	</div>
	Programming
	<table>
		<thead>
			<tr>
				<td>issue</td>
				<td>priority</td>
				<td>date</td>
				<td>posted by</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td width="600px">Everything is wrong. Nothing is working. I smell smoke. Oh no, there goes the lights. Wait...what is the robot doin- OH DEAR LORD</td>
				<td>High</td>
				<td>5/11</td>
				<td>Pat Jameson</td>
			</tr>
			<tr>
				<td width="600px">Everything is wrong. Nothing is working. I smell smoke. Oh no, there goes the lights. Wait...what is the robot doin- OH DEAR LORD</td>
				<td>High</td>
				<td>5/11</td>
				<td>Pat Jameson</td>
			</tr>
			<tr>
				<td width="600px">Everything is wrong. Nothing is working. I smell smoke. Oh no, there goes the lights. Wait...what is the robot doin- OH DEAR LORD</td>
				<td>High</td>
				<td>5/11</td>
				<td>Pat Jameson</td>
			</tr>
		</tbody>
	</table>
	End Effector
	<table>
		<thead>
			<tr>
				<td>issue</td>
				<td>priority</td>
				<td>date</td>
				<td>posted by</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td width="600px">Everything is wrong. Nothing is working. I smell smoke. Oh no, there goes the lights. Wait...what is the robot doin- OH DEAR LORD</td>
				<td>High</td>
				<td>5/11</td>
				<td>Pat Jameson</td>
			</tr>
			<tr>
				<td width="600px">Everything is wrong. Nothing is working. I smell smoke. Oh no, there goes the lights. Wait...what is the robot doin- OH DEAR LORD</td>
				<td>High</td>
				<td>5/11</td>
				<td>Pat Jameson</td>
			</tr>
			<tr>
				<td width="600px">Everything is wrong. Nothing is working. I smell smoke. Oh no, there goes the lights. Wait...what is the robot doin- OH DEAR LORD</td>
				<td>High</td>
				<td>5/11</td>
				<td>Pat Jameson</td>
			</tr>
		</tbody>
	</table>
</div>
<div id="sidebar">
	<a href="" id="showaddissue"><div id="sidemodule">
		<center>add an issue</center>
	</div></a>
	<div id="sidemodule">
		<div id="countdown">time until monty madness: 10 days</div>
	</div>
	<div id="sidemodule">
		$:sideuser
	</div>
</div>