$def with (modules, issues)

<div id="page">
	<div id="addissueformdiv">
		<form method="POST" action="../issues" id="addissueform">
			issue:<br />
			<textarea cols="75" rows="7" name="issuetext"></textarea><br />
			
			priority:
			<select name="issuepriority">
				<option>low</option>
				<option>medium</option>
				<option>high</option>
			</select>
			subteam:
			<select name="issuesubteam">
				<option value="endeffector">end effector</option>
				<option>programming</option>
				<option value="drivetrain">drive train</option>
				<option>electrical</option>
				<option>cad</option>
				<option>other</option>
			</select>
			
			<br /><br />
			 
			<input type="submit" value="submit issue" />
			<input type="button" id="canceladdissue" value="cancel" />
		</form>
	</div>
	End Effector
	<table>
		<thead>
			<tr>
				<td width="600px">issue</td>
				<td width="100px">priority</td>
				<td width="100px">date</td>
				<td width="100px">posted by</td>
			</tr>
		</thead>
		<tbody id="endeffectorissues">
			$:issues['endeffector']
		</tbody>
	</table>
	Programming
	<table>
		<thead>
			<tr>
				<td width="600px">issue</td>
				<td width="100px">priority</td>
				<td width="100px">date</td>
				<td width="100px">posted by</td>
			</tr>
		</thead>
		<tbody id="programmingissues">
			$:issues['programming']
		</tbody>
	</table>
	Electrical
	<table>
		<thead>
			<tr>
				<td width="600px">issue</td>
				<td width="100px">priority</td>
				<td width="100px">date</td>
				<td width="100px">posted by</td>
			</tr>
		</thead>
		<tbody id="electricalissues">
			$:issues['electrical']
		</tbody>
	</table>
	Drive Train
	<table>
		<thead>
			<tr>
				<td width="600px">issue</td>
				<td width="100px">priority</td>
				<td width="100px">date</td>
				<td width="100px">posted by</td>
			</tr>
		</thead>
		<tbody id="drivetrainissues">
			$:issues['drivetrain']
		</tbody>
	</table>
	CAD
	<table>
		<thead>
			<tr>
				<td width="600px">issue</td>
				<td width="100px">priority</td>
				<td width="100px">date</td>
				<td width="100px">posted by</td>
			</tr>
		</thead>
		<tbody id="cadissues">
			$:issues['cad']
		</tbody>
	</table>
</div>
<div id="sidebar">
	<a href="" id="showaddissue"><div class="sidemodule">
		<center>add an issue</center>
	</div></a>
	<div class="sidemodule">
		<div id="countdown">time until monty madness: 10 days</div>
	</div>
	<div class="sidemodule">
		$:modules.sideuser()
	</div>
</div>